<div class="col-md-2" style="border-right: 2px solid #23690B;">

	<ul class="nav nav-pills nav-stacked well-sm" id="menu" style="background-color:">
		<li>
			<a href="{{path('dev_main_homepage')}}">Accueil</a>
		</li>
		<li>
			<a href="{{path('dev_main_scoutismepage')}}">Le Scoutisme</a>
		</li>
		<li>
			<a href="{{path('dev_main_groupepage')}}">Le Groupe</a>
		</li>
		<li>
			<a href="{{path('dev_main_techniquepage')}}">Les Techniques</a>
		</li>
		<li>
			<a href="#">Photos / Vidéos</a>
		</li>
		<li>
			<a href="#">Activités</a>
		</li>
		<li>
			<a href="#">Agenda</a>
		</li>
		<li>
			<a href="#">Boutique</a>
		</li>
		<li>
			<a href="{{path('dev_main_docpage')}}">Documents</a>
		</li>
		<li>
			<a href="#">Contact</a>
		</li>
	</ul>
</div>
<script>
	var url = window.location;
	// Will only work if string in href matches with location
	$('ul.nav a[href="' + url + '"]').parent().addClass('active');

	// Will also work for relative and absolute hrefs
	$('ul.nav a').filter(function() {
		return this.href == url;
	}).parent().addClass('active'); 
</script>