{% extends "DEVMainBundle::layout.html.twig" %}
{% block meta %}
<meta name="Description" content="Page d'accueil du site du Groupe Henri de la larochejaquelein, consulter les dernières actualités.">
<meta name="Keywords" content="GHR Groupe Scout larochejaquelein Scoutisme Traditionnel
">
<meta name="Subject" content="Accueil">
<meta name="Copyright" content="">
<meta name="Identifier-Url" content="scoutrembarre.livehost.fr">
<meta name="Revisit-After" content="15 days">
<meta name="Robots" content="all">
<meta name="Rating" content="general">
<meta name="Distribution" content="global">
<meta name="Category" content="sports">

{% endblock %}
{% block title%}{{ parent() }} Accueil{% endblock%}

{%block body%}
<ol class="breadcrumb">
  <li><a href="{{path('dev_main_homepage')}}" class="active">Accueil</a></li>
</ol>
<div class="col-md-8">
	<div class="well-thr">
		<legend>
			Dernières Actualités
		</legend>
		<table class="table">
			{%for actu in actus %}
			<tr class="click fcbox" href="{{path('dev_main_view_actu',{'id':actu.id})}}?iframe">
				<td>{{actu.titre}}</td>
				<td>{{actu.datemod|date('d-m-Y')}}</td>
			</tr>
			{%endfor%}
		</table>
	</div>
</div>
<div class="col-md-4">
	{% include "DEVMainBundle:Static:caroussel.html.twig" %}
</div>
<script>
	$(".fcbox").fancybox({
		'hideOnContentClick' : true,
		'padding' : 0,
		'overlayColor' : '#D3D3D3',
		'transitionIn' : 'elastic',
		'transitionOut' : 'elastic',
		'overlayOpacity' : 0.7,
		'zoomSpeedIn' : 300,
		'zoomSpeedOut' : 300,
		'width' : 950,
		'height' : 600,
		'type' : 'iframe'
	});
	jQuery('.carousel').carousel({
		interval : 5000
	}); 
</script>
{%endblock%}
